.header-container{
    height: 100%;
    background-image: url(./Image/Banner/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.nav{ 
        padding-top: 20px;
            display: flex;
            justify-content: space-between;
            gap: 20px; 
            color: var(--font-primary-color);
            font-size: 36px;
}

.banner-title h1{
    font-weight: bolder;
    font-size: 152px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 40px 0px;
}
.banner-description{
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    margin: 40px 0px;
}

#right-menu-icon-id{
    width: 175px;
    text-align: right;
}
.banner-profile-container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-primary-color);
    border-bottom: 1px solid var(--font-primary-color);
}
.banner-profile-desc{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 40px;
}
.work-icon-container{
    display: flex;
    gap: 14px;
    padding: 40px 0px;
    border-bottom: 5px solid var(--font-primary-color);
}
.check-icon{
    height: 60px;
    width: 60px;
}
.banner-image-container{
    background-color: var(--font-primary-color);
    width: fit-content;
}
#banner-image{
    height: 300px;
}
.complete-project-container{
    display: flex;
    justify-content: space-between;
}
.complete-project-card h1{
    font-size: 152px;
    text-transform: uppercase;
}
.complete-project-card p{
    font-size: 40px;
    text-transform: uppercase;
}

@media only screen and (min-width: 200px) and (max-width:576px){

    .right-menu-icon img{ 
        height: 30px;
        width: 30px;
    }
    .container{
        padding: 0px 6px;
    }
    .nav{
        font-size: 16px;
    }
    .complete-project-container{
        flex-direction: column;
    }
    .banner-profile-container{
        display: flex;
        flex-direction: column;
    }
    .banner-image-container{
        width: 100%;
    }
    #banner-image{
        width: 100%;
    }
    .banner-title h1{
        font-size: 25px;
    }
}